SERVER_PORT=8081
POSTGRES_DB=invoice_automation
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/invoice_automation?options=-c%20TimeZone%3DUTC
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=postgres
